/* ADD DELEGATE */
.modal-box {
  animation-name: zoom;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(35, 120, 204, 0.8);
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.delegate {
  padding: 10px 25px;
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #54adcf;
  cursor: pointer;
  transition: all 0.5s;
}
.delegate:hover {
  background-color: #215468;
}

.modal-cont {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-box {
  width: 30%;
  margin: 30px auto;
  background-color: white;
  position: relative;
}

.modal-box .close {
  position: absolute;
  right: 16px;
  top: 5px;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  color: black;
}
.modal-box .close:hover,
.modal-box .close:focus {
  color: #413d3d;
}
.delegate {
  padding: 10px 25px;
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #54adcf;
  cursor: pointer;
  transition: all 0.5s;
}
.delegate:hover {
  background-color: #215468;
}
h1,
.delegate {
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 20px;
}

.popup {
  line-height: 1.8;
  color: #fff;
  /* background-image: url(../images/body-bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  font-weight: 400;
  margin: 0;
}
.appointment-form {
  padding: 50px 60px 20px;
}
h2 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #222;
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
input,
select {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
}
.select-list {
    margin-bottom: 31px;
}
label {
  position: relative;
  display: inline-block;
}
label:before {
  content: '';
  height: 31px;
  position: absolute;
  right: 7px;
  top: 3px;
  width: 22px;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  pointer-events: none;
  display: block;
}
label:after {
  content: ' ';
  position: absolute;
  right: 15px;
  top: 46%;
  margin-top: -3px;
  z-index: 2;
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: #aaa transparent transparent transparent;
  pointer-events: none;
}
label select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 30px 0 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  line-height: 36px;
  height: 36px;
  background: #fff;
  margin: 0 5px 5px 0;
}
select::-ms-expand {
  display: none;
}

#image-delegate{
    width: 100%;
}
#image-delegate img{
    width: 100px;
    height: 100px;
}
.submit {
  width: auto;
  background: #4966b1;
  color: #fff;
  padding: 16px 17px;
  margin-top: 30px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 15px 0 rgb(73 102 177 / 70%);
  -moz-box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0 1px 15px 0 rgb(73 102 177 / 70%);
  -o-box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
}


a{
    text-decoration: none;
}


.h1-text{
    font-size: 1.3rem;
    margin: 40px 0;
    color: #2c2c2c;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-text i{
    background-color: #509bfc;
    color: #fff;
    width: 40px;
    height: 40px;
    box-shadow: 2px 5px 30px rgba(80, 123, 252, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 0 20px;
}

 .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 


.list-delegate{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #EBEBEB;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.box{
    position: relative;
    min-width: 250px;
    background-color: #fff;
    box-shadow: 2px 3px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


.top-bar{
    width: 50%;
    height: 4px;
    background: #507bfc;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 10px 10px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    width: 100%;
}

.fa-check-circle{
    color: #17b667;
}

/* creating heart */
 .heart{
    color: rgba(155,155,155);
}
.heart::before{
    content: '\f004';
    font-family: fontawesome;
    line-height: 30px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s;
}
.box .heart-btn:checked ~ .heart::before{
    color:#e41934
}
.heart-btn{
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 1rem;
    display: none;
}


.content img{
    width: 90px;
    height: 90px;
    border-radius:100px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content strong{
    font-weight: 500;
    color: #141414;
    margin-top: 10px;
}
.content p{
    font-size: 0.9rem;
    color: #7a7a7a;
    margin: 4px 0px 10px 0px;
    cursor: pointer;
}
.content p:hover{
    text-decoration: underline;
}

.btn{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.btn .view i{
    margin-right: 9px;
}
.btn .view{
    border-radius: 20px;
    /* color: #8b8b8b; */
    padding: 8px 20px;
    font-size: 0.9rem;
    border: 1px solid #507bfc;
    color: #000000;
    cursor: pointer;
}

.btn .view:hover{
    color: #fff;
    box-shadow: 2px 5px 15px rgba(80,123,252,0.05);
    background-color: #507bfc;
    transition: all ease 0.5s;
}


/* POPUP QR CODE */
.popup-qr {
  line-height: 1.8;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  font-weight: 400;
  margin: 0;
}

.modal-cont-qr {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  top: 0;
  left: 0;
  overflow: auto;
}
.modal-box-qr {
  animation-name: zoom;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(35, 120, 204, 0.8);
}
.modal-box-qr {
  max-width: 35% ;
  height: 100%;
  margin: 30px auto;
  background-color: white;
  position: relative;
}
.modal-box-qr h3,
.modal-box-qr h2{
  margin-left: 30px;
}
.modal-box-qr h2{
  margin-bottom: 0px;
}
.modal-box-qr h3{
  margin-top: 0;
}
.modal-box-qr img{
  width: 100%;
}

.modal-box-qr .close-qr {
  position: absolute;
  right: 16px;
  top: 5px;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  color: black;
}
.modal-box .close:hover,
.modal-box .close:focus {
  color: #413d3d;
}


/* POPUP QR PROFILE */
.popup-profile {
  line-height: 1.8;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  font-weight: 400;
  margin: 0;
}

.modal-cont-profile {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  top: 0;
  left: 0;
  overflow: auto;
}
.modal-box-profile {
  animation-name: zoom;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(35, 120, 204, 0.8);
}
.modal-box-profile {
  max-width: 50% ;
  height: 100%;
  margin: 30px auto;
  background-color: white;
  position: relative;
}
.modal-box-profile h3,
.modal-box-profile h2{
  margin-left: 30px;
}
.modal-box-profile h2{
  margin-bottom: 0px;
}
.modal-box-profile h3{
  margin-top: 0;
}
.modal-box-profile img{
  width: 100%;
}

.modal-box-profile .close-profile {
  position: absolute;
  right: 16px;
  top: 5px;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  color: black;
}
.modal-box .close:hover,
.modal-box .close:focus {
  color: #413d3d;
}