@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
    /* padding: 4rem 0; */
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card {
  width: 66vw;
  height: 100%;
  border-radius: 5px;
  padding-bottom: 3rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.card > *:not(img) {
  padding: 5px 10px;
}

.card img {
  width: 65vw;
  height: 600px;
}

.card-body {
  padding: 5px;
}
.card-title h3{
    text-transform: uppercase;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.card-body p {
  color: #3d3d3d;
  margin-bottom: 20px;
  font-size: 14px;
}

.view-btn a {
  padding: 5px 15px;
  border: 1.5px solid #007bff;
  border-radius: 3px;
  text-decoration: none;
  color: #007bff;
}

.btn-group {
  display: flex;
}

.btn-group .btn a {
  padding: 5px 15px;
  background-color: #28a745;
  color: #fff;
  border-radius: 3px;
  margin-left: -2px;
}
.btn-group a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

.card-body ul{
  list-style-position: outside;
}
         
.btn-view {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}
.btn-view a{
  color: white;

}

.btn-view:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
/* POPUP FULL SCREEN */


.modal-box-full-screen {
  animation-name: zoom;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  /* border: 1px solid #b7b7b7; */
  border-radius: 4px;
  /* box-shadow: 1px 1px 8px rgba(35, 120, 204, 0.8); */
}
.modal-box-full-screen {
  max-width: 80%;
  height: 50%;
  margin: 30px auto;
  background-color: white;
  position: relative;
}
.modal-box-full-screen h3,
.modal-box-full-screen h2 {
  margin-left: 30px;
}
.modal-box-full-screen h2 {
  margin-bottom: 0px;
}
.modal-box-full-screen h3 {
  margin-top: 0;
}
.modal-box-full-screen img {
  width: 90%;
}
.material-card .img-container-full-screen {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 1250px;
  height: 750px;
  z-index: 3;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.material-card.mc-active .img-container-full-screen {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* left: 0;
  top: 12px; */
  /* width: 60px; */
  /* height: 60px; */
  z-index: 20;
}
.modal-box-full-screen .img-container-full-screen img{
  width: 100%;
  height: 85%;
}


.popup-full-screen {
  line-height: 1.8;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  font-weight: 400;
  margin: 0;
}

.modal-cont-full-screen {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.47);
  top: 0;
  left: 0;
  overflow: auto;
}
.modal-box-full-screen 
