@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto|Slabo+27px);
@import 'bourbon';
body {
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  

}
h1 {
  font-size: 32px;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
a, button{
  text-decoration: none;
  color: black;

}
.wrapper {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper .card {
  max-width: 300px;
  margin: 15px;
  background: #fff;
  border: 1px solid #54adcf;
  text-align: center;
  cursor: pointer;
}
.wrapper .card:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.wrapper .card:hover .card-img img {
  opacity: 0.8;
}
.wrapper .card .card-img {
  position: relative;
  text-align: center;
  background: #54adcf;
}
.wrapper .card .card-img img {
  max-height: 180px;
  width: 100%;
  width: 300px;
  height: 200px;
  border-bottom: 4px solid #54adcf;
}
.wrapper .card .card-img:before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px #54adcf;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.wrapper .card .card-img h1 {
  position: absolute;
  margin: 0;
  font-size: 42px;
  bottom: 15px;
  width: 100%;
  color: #fff;
  font-family: 'Slabo 27px', serif;
}
.wrapper .card .card-details {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  color: #3c3c3c;
}
.wrapper .card .card-details span {
  padding: 0 30px;
}
.wrapper .card .card-details span i {
  margin-right: 5px;
}
.wrapper .card .card-text {
  padding: 30px 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
}
.wrapper .card .read-more {
  display: inline-block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  background: #54adcf;
  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
}
.wrapper .card .read-more:hover {
  background: #297694;
}



/* HEADER */

#menu {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 80px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 100px solid rgba(1, 1, 1, .4);
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  margin-top:-53px;
  width: 700px;
  position: relative;
  transition: all 0.7s ease;
  padding-left:7%;
}
#menu a, #menu button {
 -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.navbar {
  position: sticky;
  top: 0;
  display:flex;
  overflow:hidden;
  justify-content: center;
  height: 100px;
}

.navbar a, .navbar button {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.navbar a:hover, .navbar button:hover{
  background:#8CA6DB;
  color: black;
  border-radius:5px;
}
.navbar button{
  outline: none;
  border: none;
  background-color: inherit;
}

/* END HEADER */



/* POPUP QR CODE */
.popup-qr {
  line-height: 1.8;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  font-weight: 400;
  margin: 0;
}

.modal-cont-qr {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  top: 0;
  left: 0;
  overflow: auto;
}
.modal-box-qr {
  animation-name: zoom;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(35, 120, 204, 0.8);
}
.modal-box-qr {
  max-width: 50% ;
  height: 100%;
  margin: 30px auto;
  background-color: white;
  position: relative;
}
.modal-box-qr h3,
.modal-box-qr h2{
  margin-left: 30px;
}
.modal-box-qr h2{
  margin-bottom: 0px;
}
.modal-box-qr h3{
  margin-top: 0;
}
.modal-box-qr img{
  width: 100%;
}

.modal-box-qr .close-qr {
  position: absolute;
  right: 16px;
  top: 5px;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  color: black;
}
.modal-box .close:hover,
.modal-box .close:focus {
  color: #413d3d;
}


/* POPUP EVENT */
.modal-box-event {
  animation-name: zoom;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(35, 120, 204, 0.8);
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal-cont-event {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-box-event {
  width: 50%;
  /* height: 100vh; */
  margin: 30px auto;
  background-color: white;
  position: relative;
}

.modal-box-event .close-event {
  position: absolute;
  right: 16px;
  top: 5px;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  color: black;
}
.modal-box-event .close-event:hover,
.modal-box-event .close-event:focus {
  color: #413d3d;
}
.popup-event {
  line-height: 1.8;
  color: #fff;
  /* background-image: url(../images/body-bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  font-weight: 400;
  margin: 0;
}
.appointment-form-event {
  padding: 50px 60px 20px;
}
h2 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-weight: bolder;
  color: #222;
  font-size: 24px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}
input,
select {
  width: 100%;
  font-size: 20px;
  display: block;
  border: none;
  outline: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
}
.select-list {
    margin-bottom: 31px;
}
label {
  position: relative;
  display: inline-block;
}
label:before {
  content: '';
  height: 31px;
  position: absolute;
  right: 7px;
  top: 3px;
  width: 22px;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  pointer-events: none;
  display: block;
}
label:after {
  content: ' ';
  position: absolute;
  right: 15px;
  top: 46%;
  margin-top: -3px;
  z-index: 2;
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: #aaa transparent transparent transparent;
  pointer-events: none;
}
label select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 30px 0 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  line-height: 36px;
  height: 36px;
  background: #fff;
  margin: 0 5px 5px 0;
}
select::-ms-expand {
  display: none;
}

#image-delegate-event{
    width: 100%;
}
#image-delegate-event img{
    width: 100px;
    height: 100px;
}
.submit {
  width: auto;
  background: #4966b1;
  color: #fff;
  padding: 16px 17px;
  margin-top: 30px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 15px 0 rgb(73 102 177 / 70%);
  -moz-box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0 1px 15px 0 rgb(73 102 177 / 70%);
  -o-box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
}


a{
    text-decoration: none;
}
#cke_11,
#cke_19,
#cke_21,
#cke_25,
#cke_30,
#cke_32,
#cke_46

{
  display: none;
}
.image-delegate-event.date input{
width: 50%;
}

#galeria{
  display: flex;
  margin-bottom: 20px;
}
#galeria img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  opacity: 85%;
  margin-right: 15px;

}