@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto|Slabo+27px);
@import 'bourbon';
body {
  background: #ececec;
}
h1 {
  font-size: 32px;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
.wrapper {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper .card {
  max-width: 300px;
  margin: 15px;
  background: #fff;
  border: 1px solid #54adcf;
  text-align: center;
  cursor: pointer;
}
.wrapper .card:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.wrapper .card:hover .card-img img {
  opacity: 0.8;
}
.wrapper .card .card-img {
  position: relative;
  text-align: center;
  background: #54adcf;
}
.wrapper .card .card-img img {
  max-height: 180px;
  width: 100%;
  border-bottom: 4px solid #54adcf;
}
.wrapper .card .card-img:before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px #54adcf;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.wrapper .card .card-img h1 {
  position: absolute;
  margin: 0;
  font-size: 42px;
  bottom: 15px;
  width: 100%;
  color: #fff;
  font-family: 'Slabo 27px', serif;
}
.wrapper .card .card-details {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  color: #3c3c3c;
}
.wrapper .card .card-details span {
  padding: 0 30px;
}
.wrapper .card .card-details span i {
  margin-right: 5px;
}
.wrapper .card .card-text {
  padding: 30px 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
}
.wrapper .card .read-more {
  display: inline-block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  background: #54adcf;
  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
}
.wrapper .card .read-more:hover {
  background: #297694;
}
